.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-700-main, #004c40);
  font-size: 18px;
  color: white;
  width: 100%;
  height: 50px;
  .icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
}

.dropdowns {
  display: flex;
  align-items: center;
  background: var(--primary-800, #2a8080);
  height: 80px;
  padding: 10px;
  span {
    cursor: pointer;
    padding: 20px;
    color: white;
  }
}

.entries {
  padding: 20px;
  min-width: 50%;
  font-size: 30px;
  background-color: var(--black-100);

  &-header {
    display: flex;
    align-items: center;

    .add {
      background-color: #2a8080;
      color: white;
      width: 200px;
      height: 50px;
      font-size: 20px;
      margin-left: auto;
    }
    .ant-checkbox-wrapper {
      margin-right: 20px;
      .ant-radio-inner {
        width: 30px;
        height: 30px;
        &::after {
          width: 18px;
          height: 18px;
        }
      }
  
      .ant-checkbox-inner {
        width: 30px;
        height: 30px;
        &::after {
          width: 12px;
          height: 18px;
        }
      }
  
      .ant-radio,
      .ant-checkbox {
        font-size: 30px;
      }
    }
  }
}
