.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  input[type=radio] {
    accent-color: var(--primary-700-main, #004c40);
  }

  input[type=checkbox] {
    accent-color: var(--primary-700-main, #004c40);
  }
  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    border-color: var(--primary-700-main, #004c40) !important;
    box-shadow: none !important;
  }
  .ant-select-selector:hover {
    border-color: var(--primary-700-main, #004c40) !important;
  }
  .ant-select-selector {
    border: none !important;
  }

  .ant-select-open {
    border-color: var(--primary-700-main, #004c40) !important;
  }
  .ant-select-selection-item {
    font-size: 20px !important;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .radio-input {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .modified {
    flex: 1;
    background-color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 10px;
  }

  .add-btn {
    background-color: var(--primary-700-main, #004c40);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    margin-left: auto;
  }
  .w-1 {
    width: 100px;
  }
  .w-20 {
    width: 20px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .flex {
    display: flex;
  }
  .flex-0 {
    flex: 0;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
}