.container {
  width:100%;
  height:100%
}

  .app-filter,
  .app-filter * {
  box-sizing: border-box;
}
  .app-filter {
    background: var(--white, #ffffff);
    width: 1024px;
    height: 768px;
    position: relative;
    overflow: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 591px;
    top: 134px;
  }
  .tabs {
    background: var(--white, #ffffff);
    border-style: solid;
    border-color: var(--black-200, #ececec);
    border-width: 1px 0px 0px 0px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 849px;
    height: 54px;
    position: relative;
  }
  .lite-filter-lite-filter {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 40px;
    position: relative;
  }
  .pill-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 431px;
    position: relative;
    overflow: hidden;
  }
  .positioning-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .pill-button-pill-button {
    border-radius: 999px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 35px;
    position: relative;
  }
  .base {
    background: var(--primary-700-main, #004c40);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--primary-700-main, #004c40);
    border-width: 1px;
    padding: 4px 11px 6px 11px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text {
    color: var(--light-fill-color-text-on-accent-primary, #ffffff);
    text-align: center;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
  }
  .pill-button-pill-button2 {
    border-radius: 999px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .base2 {
    background: var(
            --light-fill-color-control-quarternary,
            rgba(243, 243, 243, 0.76)
    );
    border-radius: 999px;
    border-style: solid;
    border-color: var(
            --light-stroke-color-control-stroke-default,
            rgba(0, 0, 0, 0.06)
    );
    border-width: 1px;
    padding: 4px 11px 6px 11px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text2 {
    color: var(--black-900, #1e1e1e);
    text-align: center;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
  }
  .content2 {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 849px;
    position: relative;
  }
  .text3 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text4 {
    color: var(--black-900, #1e1e1e);
    text-align: left;
    font-family: "SegoeUiVariable-SemiboldText", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
  }
  .content3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .filter-block {
    background: var(--black-50, #f9f9f9);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .content4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .combo-box-combo-box {
    border-radius: 4px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 96px;
    position: relative;
  }
  .base3 {
    background: var(--white, #ffffff);
    border-radius: 3px;
    padding: 4px 11px 4px 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-wrapper {
    padding: 0px 0px 2px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text5 {
    color: var(--light-fill-color-text-primary, rgba(0, 0, 0, 0.9));
    text-align: left;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
  }
  .min-width {
    flex-shrink: 0;
    width: 80px;
    height: 0px;
    position: relative;
  }
  .chevron-down-med {
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .chevron-down-med2 {
    color: var(--light-fill-color-text-secondary, rgba(0, 0, 0, 0.61));
    text-align: center;
    font-family: "SegoeFluentIcons-Regular", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content5 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text6 {
    background: var(--white, #ffffff);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .text7 {
    color: var(--black-900, #1e1e1e);
    text-align: left;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    flex: 1;
  }
  .radio-button-radio-button {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
  }
  .base4 {
    background: var(--primary-700-main, #004c40);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--primary-700-main, #004c40);
    border-width: 1px;
    position: absolute;
    right: 1px;
    left: 1px;
    bottom: 1px;
    top: 1px;
  }
  .bullet {
    background: var(--white, #ffffff);
    border-radius: 999px;
    border-width: 1px;
    border-style: solid;
    border-image: var(
            --light-elevation-circle-border,
            linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.06) 50.02084970474243%,
                    rgba(0, 0, 0, 0.16) 95.45454382896423%
            )
    );
    border-image-slice: 1;
    position: absolute;
    right: 6px;
    left: 6px;
    bottom: 6px;
    top: 6px;
  }
  .base5 {
    background: var(
            --light-fill-color-control-alt-secondary,
            rgba(0, 0, 0, 0.02)
    );
    border-radius: 999px;
    border-style: solid;
    border-color: var(--black-400, #bababa);
    border-width: 1px;
    position: absolute;
    right: 1px;
    left: 1px;
    bottom: 1px;
    top: 1px;
  }
  .hyperlink-button-hyperlink-button {
    border-radius: 3px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .base6 {
    background: var(
            --light-fill-color-subtle-transparent,
            rgba(255, 255, 255, 0)
    );
    border-radius: 3px;
    border-style: solid;
    border-color: var(
            --light-fill-color-subtle-transparent,
            rgba(255, 255, 255, 0)
    );
    border-width: 1px;
    padding: 4px 11px 6px 11px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon-wrapper {
    padding: 2px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .div {
    color: var(--primary-700-main, #004c40);
    text-align: center;
    font-family: "SfPro-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-wrapper2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text8 {
    color: var(--primary-700-main, #004c40);
    text-align: center;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
  }
  .button-button {
    background: var(--primary-700-main, #004c40);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-image: var(
            --light-elevation-accent-control-border,
            linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.08) 90.673828125%,
                    rgba(0, 0, 0, 0.4) 100%
            )
    );
    border-image-slice: 1;
    padding: 5px 12px 7px 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .min-width2 {
    flex-shrink: 0;
    width: 96px;
    height: 0px;
    position: relative;
  }
  .left-pannel {
    border-style: solid;
    border-color: var(--black-200, #ececec);
    border-width: 0px 1px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 944px;
    position: absolute;
    left: 0px;
    top: 80px;
    overflow: hidden;
  }
  .title {
    background: var(--black-50, #f9f9f9);
    border-style: solid;
    border-color: var(--black-200, #ececec);
    border-width: 0px 0px 1px 0px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 591px;
    height: 54px;
    position: relative;
  }
  .title2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 268px;
    position: relative;
  }
  .checkbox-checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .text9 {
    color: var(--black-900, #1e1e1e);
    text-align: left;
    font-family: "SegoeUiVariable-SemiboldText", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .content6 {
    flex-shrink: 0;
    width: 591px;
    height: 890px;
    position: relative;
    overflow-y: auto;
  }
  .entries {
    padding: 16px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 578px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .entry-1 {
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .checkbox-checkbox2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .entry {
    background: var(--white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--black-400, #bababa);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  .text10 {
    color: var(--black-500, #727272);
    text-align: left;
    font-family: "SegoeUiVariable-SemiboldText", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .checkbox-checkbox3 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox4 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox5 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox6 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox7 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox8 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox9 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox10 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox11 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox12 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox13 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox14 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox15 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox16 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .checkbox-checkbox17 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }
  .scroll-bar-scroll-bar {
    border-radius: 0px 7px 7px 0px;
    width: 14px;
    height: 890px;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
  }
  .scroll-bar-parts-track {
    width: 12px;
    height: auto;
    position: absolute;
    right: 1px;
    bottom: 1px;
    top: 1px;
    overflow: visible;
  }
  .scroll-bar-parts-thumb {
    width: 12px;
    height: 137px;
    position: absolute;
    right: 1px;
    top: 17px;
    overflow: visible;
  }
  .caret-caret {
    width: 14px;
    height: 16px;
    position: absolute;
    right: 0px;
    bottom: 1px;
  }
  .caret-down-solid-8 {
    color: var(--black-400, #bababa);
    text-align: center;
    font-family: "FluentDoNotShipIcons-Regular", sans-serif;
    font-size: 8px;
    line-height: 8px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caret-caret2 {
    width: 14px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 1px;
  }
  .caret-up-solid-8 {
    color: var(--black-400, #bababa);
    text-align: center;
    font-family: "FluentDoNotShipIcons-Regular", sans-serif;
    font-size: 8px;
    line-height: 8px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1440px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .title-bar {
    background: var(--primary-700-main, #004c40);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
  }
  .parts-title-bar-icon-title-group {
    border-radius: 0px 7px 0px 0px;
    padding: 0px 8px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 32px;
    position: relative;
  }
  .icon-and-title {
    padding: 0px 8px 0px 12px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .text-container {
    padding: 0px 0px 2px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 32px;
    position: relative;
  }
  .text11 {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: var(
            --caption-font-family,
            "SegoeUiVariable-RegularSmall",
            sans-serif
    );
    font-size: var(--caption-font-size, 12px);
    line-height: var(--caption-line-height, 16px);
    font-weight: var(--caption-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .parts-title-bar-caption-control-group {
    border-radius: 0px 7px 0px 0px;
    flex-shrink: 0;
    width: 138px;
    height: 32px;
    position: relative;
    overflow: hidden;
  }
  .parts-title-bar-caption-control-button {
    padding: 0px 1px 0px 1px;
    width: 46px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
  .base24 {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }
  .icon {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: "SegoeFluentIcons-Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parts-title-bar-caption-control-button2 {
    padding: 0px 1px 0px 1px;
    width: 46px;
    position: absolute;
    left: 46px;
    bottom: 0px;
    top: 0px;
  }
  .parts-title-bar-caption-control-button3 {
    padding: 0px 1px 0px 1px;
    width: 46px;
    position: absolute;
    left: 92px;
    bottom: 0px;
    top: 0px;
  }
  .base25 {
    border-radius: 0px 7px 0px 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 9.094947017729282e-13px;
  }
  .chrome-close {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: "SegoeFluentIcons-Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-menu-file-menu-example {
    background: var(--primary-600, #005a4d);
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .items {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .file-menu-parts-file-menu-button {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 40px;
    position: relative;
  }
  .base26 {
    border-radius: 4px;
    padding: 4px 11px 6px 11px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text12 {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: var(--body-font-family, "SegoeUiVariable-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 20px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .Testing1 {
    color: brown;
    background-color:#005a4d;
  }
